@font-face {
    font-family: 'Kirang Haerang';
    src: url('../fonts/KirangHaerang-Regular.eot');
    src: url('../fonts/KirangHaerang-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KirangHaerang-Regular.woff2') format('woff2'),
        url('../fonts/KirangHaerang-Regular.woff') format('woff'),
        url('../fonts/KirangHaerang-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}