@media (max-width:930px) {
    .vox {display: block;
    display: flex;}
    .navul {display: none;}
    .active6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    width: 100%;
    height: 400px;
    background-color: green;
}
.navli {
    width: 100px;
}
.navli:hover {
    width: 250px;
}
.mediabox{display: flex;
/* align-items: center; */
justify-content: space-around;}
.active {margin-left: 10px;}
}