.header-conteiner {
    background-image: url(../images/kazbegi.jpg);
    height: 500px;
    background-position: center;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav-conteiner {
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.logo-box {
    width: 500px;
}
.logo-img {
    width: 100px;
}
.navbox {
    width: 600px;
}
.navul {
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.navli {
    color: cyan;
    font-size: 20px;
    font-family: 'Kirang Haerang', cursive;
}
.navli:hover {
    background-color: darkgray;
}
.tours-box, .cars-box {
    display: none;
}
.active {
    display: block;
    margin-top: 10px;
    color: brown;
    background-color: darkgray;
}
.activeli {
    color: cyan;
    margin-bottom: 10px;
    font-family: 'Kirang Haerang', cursive;
}
a {
    color: aqua;
    font-size: 20px;
}
.head {
    font-size: 100px;
    color:blue;
}
.headbox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.text-conteiner {
    color: gold;
    font-size: 40px;
    margin-top: 10px;
}
.mySlides {display:none;}
.conteiner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 20px auto;
}
.mySlides {
    display:none;
    width: 700px;
    border-radius: 10%;
    border-width: 5px;
    border-style: inset;
    border-color: black;
}
.slide-box {
    max-width: 700px;
    
}
.coneiner-text {
    width: 700px;
}
footer {
    background-color: black;
}
.footer-conteiner {
    width: 100%;
    display: flex;
    justify-content: space-around
}
.footer-box {
    width: 300px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 20px;
}
.icon-box {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-youtube {
    color: red;
    font-size: 30px;
}
.fa-facebook-f {
    color: blue;
    font-size: 20px;
}
.fa-google-plus-g {
    color: crimson;
    font-size: 30px;
}
.footer-text {
    font-size: 18px;
    color: darkgray;
}
.footer-head {
    font-size: 30px;
    color: blanchedalmond;
    font-family: 'Kirang Haerang', cursive
}
.footer-box1 {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.atext {
    font-size: 18px;
    color: whitesmoke;
}
.logo11 {
    color: deepskyblue;
    font-size: 30px;
}
.logo-box {
    width: 300px;
    display: flex;
    justify-content: space-between
}
.footer-conteiner1 {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.bottom {
    width: 100%;
}
.bottom-box {
    margin-top: 40px;
    margin-left: 100px;
    opacity: 0.7;
}
.footer-text2 {
    font-size: 20px;
    color: burlywood;
}
.map {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 56px;
    position: relative;
}
.map-back {
    width: 1088px;
    height: 286px;
    background-color: black;
    position: absolute;
    opacity: 0.3;
}
.conteiner-box {
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}
.section1-text {
    font-size: 14px;
    color: #5863F8;
    font-weight: 700;
}
.section1-text1 {
    font-size: 42px;
    color: #000000;
    font-weight: 900;
}
.section1-conteiner {
    width: 1088px;
    margin: 0 auto;
}
.conteiner-wrap {
    width: 1088px;
}
#description {
    width: 720px;
    height: 288px;
    background-color: #F8F8F8;
}
input {
    width: 352px;
    height: 60px;
}
button {
    width: 352px;
    height: 60px;
    background-color:green;
    color: #EBEBEB;
    border: none;
}
button:hover {
    background-color: darkslateblue;
    cursor: pointer;
}
.section1-conteiner1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.section1-conteiner2 {
    width: 352px;
    height: 288px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    
}
.section1-conteiner2 [type=text] {
    background-color: #F8F8F8;
    border-color: #E8E8E8;
}
.form {
    height: 60px;
   
}
.form-conteiner::placeholder {
    font-size: 13px;
}
.form::placeholder {
    font-size: 13px;
}
#mail {
    border-color: #E8E8E8;
}
.conteiner-mcxeta {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-mcxeta {
    width: 700px;
}
.headd {
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 50px;
    font-family: 'Kirang Haerang', cursive;
}
.mcxeta-text {
    font-size: 20px;
    opacity: 0.8;
    font-family: 'Kirang Haerang', cursive;
}
.ananuricont {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 900px;
    margin: 10px auto;
}