
.header-conteiner {
    background-image: url(../images/kazbegi.jpg);
    height: 500px;
    background-position: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav-conteiner {
    width: 100%;
    height: 200px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: fixed;
    z-index: 10;
}
.logo-box {
    width: 50px;
    position: absolute;
    top: 30px;
    left: 10px;
    
}
.logo-box1 {
    width: 300px;
    display: flex;
    justify-content: space-between;
  
}
.logo-img {
    width: 50px;
   background-color: azure;
}
.navbox {
    width: 600px;
}
.navul {
    width: 850px;
    display: flex;
    justify-content: space-around;
}
.navli {
    width: 500px;
    height: 30px;
    padding: 5px;
    
    color: greenyellow;
    font-size: 20px;
    font-family: 'Kirang Haerang', cursive;
    transition: all 5s;
}
.mediabox {
    
    width: 500px;
    height: 30px;
    transition: all 0.4s;
}
.mediabox:hover {
    height: 170px;
    background-color: #40E0D0;
    
}
.mediabox:hover .tours-box {
    display: block;
}
.mediabox:hover .cars-box {
    display: block;
}

.nava {
    color: greenyellow;
    font-size: 20px;
}
.page {
    color: black;
    font-size: 30px;
}
.line {
	width: 20px;
	height: 2px;
	background-color: brown;

}
.vox {
	width: 30px;
	height: 20px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
    display: none;
    margin-right: 30px;
    position: absolute;
    top: 30px;
    right: 10px;

}
.active3 {
	width: 30px;
	transform: rotate(45deg);
	position: absolute;
	margin-top: 10px;
	transition: all 0.5s;
}
.active4 {
	display: none;
}
.active5 {
	width: 30px;
	transform: rotate(315deg);
	position: absolute;
	margin-top: 10px;
	transition: all 0.1s;
}

.tours-box, .cars-box {
    display: none;
    transition: all 0.8;
}

.activeli {
    color: cyan;
    margin-bottom: 10px;
    font-family: 'Kirang Haerang', cursive;
}
.head {
    font-size: 100px;
    color:blue;
    font-family: 'Kirang Haerang', cursive;
}
.headbox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.text-conteiner {
    color: lightslategray;
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Kirang Haerang', cursive;
    margin-left: 50px;
}
.text-conteiner2 {
    color: lightslategray;
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Kirang Haerang', cursive;
    margin-left: 250px;
}
.mySlides {display:none;}
.conteiner1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: 20px auto;
}
.mySlides {
    display:none;
    width: 700px;
    border-radius: 10%;
    border-width: 5px;
    border-style: inset;
    border-color: black;
}
.slide-box {
    position: relative;
    max-width: 700px;
    margin: auto;
    
}
.coneiner-text {
    position: absolute;
    
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: black;
}
.footer-conteiner {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-box {
    width: 300px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 20px;
}
.icon-box {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-youtube {
    color: red;
    font-size: 30px;
}
.fa-facebook-f {
    color: blue;
    font-size: 20px;
}
.fa-google-plus-g {
    color: crimson;
    font-size: 30px;
}
.footer-text {
    font-size: 18px;
    color: darkgray;
}
.footer-head {
    font-size: 30px;
    color: blanchedalmond;
    font-family: 'Kirang Haerang', cursive
}
.footer-box1 {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.atext {
    font-size: 18px;
    color: whitesmoke;
}
.logo11 {
    color: deepskyblue;
    font-size: 30px;
}
/* .logo-box {
    width: 300px;
    display: flex;
    justify-content: space-between
} */
.footer-conteiner1 {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}
.bottom {
    width: 100%;
}
.bottom-box {
    margin-top: 40px;
    margin-left: 100px;
    opacity: 0.7;
}
.footer-text2 {
    font-size: 20px;
    color: burlywood;
}
.map {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 56px;
    position: relative;
}
.conteiner-box {
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}
.section1-text {
    font-size: 14px;
    color: #5863F8;
    font-weight: 700;
}
.section1-text1 {
    font-size: 42px;
    color: white;
    font-weight: 900;
}
.section1-conteiner {
    width: 1088px;
    margin: 0 auto;
}
.conteiner-wrap {
    width: 100%;
}
.textareabox {
    width: 720px;
}
#description {
    max-width: 720px;
    width: 100%;
    height: 288px;
    background-color: #F8F8F8;
}
input {
    max-width: 358px;
    width: 300px;
    height: 60px;
}
button {
    max-width: 358px;
    width: 300px;
    height: 60px;
    background-color:green;
    color: #EBEBEB;
    border: none;
}
button:hover {
    background-color: darkslateblue;
    cursor: pointer;
}
.section1-conteiner1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.section1-conteiner2 {
    max-width: 352px;
    width: 100%;
    height: 288px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    
}
.section1-conteiner2 [type=text] {
    background-color: #F8F8F8;
    border-color: #E8E8E8;
}
.form {
    height: 60px;
   
}
.form-conteiner::placeholder {
    font-size: 13px;
}
.form::placeholder {
    font-size: 13px;
}
#mail {
    border-color: #E8E8E8;
}
.conteiner-mcxeta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.conteiner-kazbegi {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.box-mcxeta {
    width: 700px;
    padding: 10px;
    border-style: dashed;
    border-width: 5px;
    border-color:black;
    border-radius: 10%;
}
.headd {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
    font-family: 'Kirang Haerang', cursive;
}
.mcxeta-text {
    font-size: 20px;
    opacity: 0.8;
    font-family: 'Kirang Haerang', cursive;
}
.buta {
    width: 150px;
    height: 50px;
    background-color: orange;
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Kirang Haerang', cursive;
    font-weight: 800;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buta:hover {
    width: 300px;
    background-color: blueviolet;
    color: white;
    transition: all 0.8s;
}

.ananuricont {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 900px;
    margin: 10px auto;
}
.ananuribox {
    border-style: dotted;
    border-width: 10px;
    border-color: blue;
}
.Slides {
    height: 500px;
}
.w3-col.s4{
    width:33.33333%;

}
.w3-content{
    margin-left:auto;
    margin-right:auto;
    max-width:980px;
}
.w3-row-padding {
    display: flex;
    flex-wrap: wrap;
    padding:0 8px;
    margin-top: 20px;
}
.w3-opacity,.w3-hover-opacity:hover{
    height: 200px;
    opacity:0.60;
}
.w3-hover-opacity-off:hover{opacity:1}

.img-cont {
    width: 100%;
    display: flex;
    
    justify-content: space-around;
    margin: 100px 0;
}
.img-back1 {
    height: 600px;
    width: 500px;
    background-image: url('../images/trinity.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: all 5s;
}
.img-back2 {
    height: 600px;
    width: 500px;
    background-image: url('../images/mcxeta.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: all 5s;
}
.img-back3 {
    height: 600px;
    width: 500px;
    background-image: url('../images/kaxeti.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: all 5s;
}
.img-back2:hover,.img-back1:hover, .img-back3:hover {
    width: 700px;
    opacity: 1;
    
}

.imga {
    color: lightblue;
    font-size: 30px;
    font-family: 'Kirang Haerang', cursive;
    transition: all 3s;
}
.imga:hover {
    color: darkblue;
    font-size: 70px;
}
.moreconteiner {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.boxtobox {
    width: 410px;
    height: 300px;
    background-color: #2F4F4F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxtobox2 {
    width: 410px;
    height: 300px;
    background-color: #40E0D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fa-utensils, .fa-car {
    color: white;
    font-size: 40px;
}
.fa-campground, .fa-user-alt {
    color: #40E0D0;
    font-size: 40px;
}
.boxtobox-head {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}
.boxtobox-head2 {
    margin-top: 20px;
    font-size: 20px;
    color: #40E0D0;
}
.conteineri {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
    flex-wrap: wrap;
}
.boxi {
    
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 650px;
    position: relative;
    display: flex;
    align-items: flex-end;
}
.price {
    width: 120px;
    height: 40px;
    background-color: #20B2AA;
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-box {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s;
}
.data-text {
    font-size: 18px;
    color: #20B2AA
}
.date-box:hover {
    height: 450px;
    background-color: #20B2AA;
}
.date-box:hover .data-text {
    color: white;
}
.hidden {
    font-size: 18px;
    color: white;
    display: none;
}
.date-box:hover .hidden {
    display: block;
}
.foto1 {
    background-image: url('../images/ananuri.jpg');
    
}
.foto2 {
    background-image: url('../images/kaxeti.jpg');
    
}
.foto3 {
    background-image: url('../images/mcxeta.jpg');
}
.foto4 {
    background-image: url('../images/trinity.jpg');
}
.foto5 {
    background-image: url('../images/trinity2.jpg');
    
}
.foto6 {
    background-image: url('../images/signagi.jpg');
}
.foto7 {
    background-image: url('../images/para.jpg');
}
.foto8 {
    background-image: url('../images/fog.jpg');
}
.foto9 {
    background-image: url('../images/kazbegi2.jpg');
}
.foto10 {
    background-image: url('../images/river.jpg');
}
.foto11 {
    background-image: url('../images/para2.jpg');
}
.foto12 {
    background-image: url('../images/stefantsminda.png');
}
.foto1, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7, .foto8, .foto9, .foto10, .foto11, .foto12 {
    background-position: center;
    background-repeat: no-repeat;
}
